.whole {
	font-family: 'Open Sans', sans-serif;
	font-size: 30;
  	margin: 0 auto;
  	background-color: #f2ebe0;
	}
	
.below {
	padding-left: 2em;
	}
	
.header {
	background-color: #f30;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 4em;
	text-align: left;
	}
	
.idiom {
	font-size: 8em;
	font-weight: bold;
	color:  #f2ebe0;
	display: inline-block;
	}
	
.edition {
	font-size: 3em;
	color: #f2ebe0;
	text-align: right;
	display: inline-block;
	padding-left: 1em;
	}
	
.title a {
	text-decoration: none;
	color: black;
	}
	
.title a:hover {
	color: #f30;
	}
	
.col1 {
	padding-left: 2em;
	padding: 2em;
	display: inline-block;
	max-width: 33%;
	}
	
.title {
	font-size: 1.2em;
	font-weight: 600;
	padding-top: .5em;
	}
	
.col2 {
	padding-left: 1em;
	padding: 2em;
	display: inline-block;
	max-width: 33%;
	}
	
.col3 {
	padding-left: 1em;
	padding: 2em;
	display: inline-block;
	max-width: 33%;
	}
	
.col4 {
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 5em;
	}


.transition {
	color: #f30;
	font-size: 7em;
	font-weight: bold;
	padding-bottom: .3em;
	}

.photo {
	display: inline-block;
	position: relative;
	}

.caption {
	transform: rotate(-90deg);
	position: absolute;
	left: 30em;
	bottom: 15em;
	}
	
.title2 {
	font-size: 2em;
	font-weight: 700;
	color: #f30;
	padding-top: 1em;
	}
	
.author {
	font-size: 1.5em;
	font-weight: 600;
	line-height: 2;
	}

.poem {
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	line-height: 2;
	max-width: 800px;
	padding-right: 3em;
	}
	
.salty {
	padding-top: 3em;
	border-top-style: solid;
	border-top-color: #f30;
	margin-top: 3em;
	}
	
.fathers {
	padding-top: 3em;
	border-top-style: solid;
	border-top-color: #f30;
	margin-top: 3em;
	}
	
.dancing {
	padding-top: 3em;
	border-top-style: solid;
	border-top-color: #f30;
	margin-top: 3em;
	}
	
.transcience {
	padding-top: 3em;
	border-top-style: solid;
	border-top-color: #f30;
	margin-top: 3em;
	}
	
.eve {
	padding-top: 3em;
	border-top-style: solid;
	border-top-color: #f30;
	margin-top: 3em;
	}
	
.things {
	padding-top: 3em;
	border-top-style: solid;
	border-top-color: #f30;
	margin-top: 3em;
	}	
	
.back {
	position: fixed;
	bottom: 4em;
	right: 4em;
	font-size: 1em;
	color: #f30;
	}
	
.back a {
	text-decoration: none;
	color: #f30;
	}
	
.back a:hover {
	color: black;
	}